[Unit]
Description=Start irexec daemon
Wants=lircd.service
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sh -c "sleep 3"
ExecStart=/usr/bin/taskset -c 0 /usr/bin/irexec /etc/conf.d/lircrc

[Install]
WantedBy=multi-user.target
